<%- include ('includes/head'); %>
<%- include ('includes/nav'); %>

<style> 
h1, h3{
    padding: 0;
    margin: 0;
}
    main{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 60px;
        line-height: 10px;
        font-size: 40px;
    }
</style>


<body>

    <main>
        <h1>Error 404!</h1>
        <h4>À Página que você procura não existe.</h4>
    </main>
    
    
</body>

<%- include ('includes/footer'); %>